<!-- Script 3.3 - footer.html -->
	<!-- End of the page-specific content. -->
<div class="container-fluid">	
<div id="footer" style="clear:both; padding-top: 75px;">
	<div id ="row"> 
            <div class="col-md-6 col-md-offset-3" style="text-align: center;">
            
            <p>Copyright &copy; <a href="#">Plain and Simple</a>  | Designed by JQGuess  <a href="https://www.linkedin.com/in/jonathan-guess-084683111"><i class="fa fa-linkedin-square fa-lg"></i></a> | 
                <a href="https://github.com/jqguess"><i class="fa fa-github-alt fa-lg"></i></a> </p>
	</div>

  
        </div>     
	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
	</div>
</div>
</body>
</html>
<?php // Script for footer to end buffering

// Send the buffer to the browser and turn off buffering:
ob_end_flush();
?>